

.hover:hover{
  color: white;
}

.window{
  min-width: 200px;
  min-height: 200px;
  position: absolute;
  background-color: #b4b4b4 ;
  overflow: auto;
  cursor: auto;
}

.header{
  text-align: center;
  background-color: rgb(85, 128, 85);
  border: dotted 3px green;
  font-weight: bold;
  text-shadow: 0.4px 1px #302c2c;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 0 !important;
  padding: 5px;
}

.frame{
  position: fixed;
  padding: 1.5px;
  background-color: #1a1a1a;
  cursor: nesw-resize;
}

.topbar{
  background-color: #3a3939;
  padding: 10px;
  color: #cacaca;
  cursor: pointer;
}