html {
  height: 100%;
}

body{
  overflow: hidden;
  min-height: 100vh;
}

.hover{
  touch-action: none;
}

.hover:hover{
  color: white;
}

.window{
  position: absolute;
  background-color: #777777 ;
  overflow: auto;
  cursor: auto;
  touch-action: none;
  
  
}



.header{
  text-align: center;
  border-bottom: dashed 1px rgb(90, 95, 90);
  font-weight: bold;
  margin-bottom: 0 !important;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.header-logo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 0.4px 1px #302c2c;
  color: white;
  font-size: 20px;
}

.header-apps-button{
  float: left;
}

.frame-border{
  position: fixed;
  background-color: #535353;
  resize: both;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.topbar{
  background-color: #3a3939;
  padding: 10px;
  color: #cacaca;
  cursor: pointer;
  touch-action: none;
}

.framestyle{
  top: 0;
  right: 0;
  
}

.frameloading{
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  text-align: center;
}


.flex-width{
  width: 100%
}

.flex-height{
  height: 100%;
}

.btn-secondary{
  background-color: #404346 !important; 
}


.footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  color:white;
  width: 100%;
  z-index: 999;
  align-items: center;
  border-top: solid 2px rgb(44, 44, 44);
  background: rgb(28,29,28);
  background: -moz-linear-gradient(0deg, rgba(28,29,28,1) 0%, rgba(68,71,69,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(28,29,28,1) 0%, rgba(68,71,69,1) 100%);
  background: linear-gradient(0deg, rgba(28,29,28,1) 0%, rgba(68,71,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1d1c",endColorstr="#444745",GradientType=1);
  align-items: center;
  display:flex;
}


.window-footer {
  position: fixed;
  bottom: -45px;
  height: 40px;
  color:white;
  width: 100%;
  z-index: 999;
  align-items: center;
  border-top: solid 2px rgb(20, 20, 20);
  background: rgb(28,29,28);
  background: -moz-linear-gradient(0deg, rgba(28,29,28,1) 0%, rgba(68,71,69,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(28,29,28,1) 0%, rgba(68,71,69,1) 100%);
  background: linear-gradient(0deg, rgba(28,29,28,1) 0%, rgba(68,71,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1d1c",endColorstr="#444745",GradientType=1);
  align-items: center;
  display:flex;
}

.min-bar{
  
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid rgb(99, 99, 99);
  background-color: rgb(221, 221, 221);
  color: rgb(49, 49, 49);
  margin-left: 3px;
  min-width: 140px;
  text-align: center;
  height: 35px;
}


.min-bar-close{
  float: left;
  justify-content: center;
  text-align: middle;
}



.min-bar-title{
  text-align: right;
  min-width: 160px;
  margin-left: 5px;
}

.showing{
  color:white;
  background-color: rgb(88, 88, 88);
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.nohighlight{
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.full-modal {
  padding: 0 !important; 
}
.full-modal  .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}

.full-modal .modal-header .close{
  color:white !important;
}
.full-modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
  color: white;
  background: #5a5a5a;
}
.full-modal .modal-body {
  overflow-y: auto;
}



table {
  color: rgb(209, 209, 209) !important;
}


.resize-arrow{
  position: absolute;
  right: -4px;
  bottom: -10px;
  cursor: se-resize	;
  z-index: 1
}

.stroke{
  stroke: url(#2a2a2a) !important;
}



.Resizer {
  background: #000;
  opacity: .2;
  z-index: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 15px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 15px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
cursor: not-allowed;
}
.Resizer.disabled:hover {
border-color: transparent;
}


div[data-type="SplitPane"] {
  min-height: 100vh;
}