
body{
  overflow: hidden;
}

.hover:hover{
  color: white;
}

.window{
  position: absolute;
  background-color: #b4b4b4 ;
  overflow: auto;
  cursor: auto;
}

.header{
  text-align: center;
  background: rgb(20,82,28);
  background: rgb(133,186,140);
  background: -moz-linear-gradient(180deg, rgba(133,186,140,1) 0%, rgba(76,113,79,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(133,186,140,1) 0%, rgba(76,113,79,1) 100%);
  background: linear-gradient(180deg, rgba(133,186,140,1) 0%, rgba(76,113,79,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#85ba8c",endColorstr="#4c714f",GradientType=1);
  border-bottom: dashed 1px green;
  font-weight: bold;
  margin-bottom: 0 !important;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header-logo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 0.4px 1px #302c2c;
  color: white;
  font-size: 20px;
}

.header-apps-button{
  float: left;
}

.frame{

  
}

.frame-border{
  position: fixed;
  background-color: #1a1a1a;
}

.topbar{
  background-color: #3a3939;
  padding: 10px;
  color: #cacaca;
  cursor: pointer;
}

.framestyle{
  top: 0;
  right: 0;
  
}

.frameloading{
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  text-align: center;
}


.flex-width{
  width: 100%
}

.flex-height{
  height: 100%;
}

.btn-secondary{
  background-color: #404346 !important; 
}


.footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  color:white;
  width: 100%;
  z-index: 999;
  align-items: center;
  border-top: solid 2px rgb(44, 44, 44);
  background: rgb(28,29,28);
  background: -moz-linear-gradient(0deg, rgba(28,29,28,1) 0%, rgba(68,71,69,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(28,29,28,1) 0%, rgba(68,71,69,1) 100%);
  background: linear-gradient(0deg, rgba(28,29,28,1) 0%, rgba(68,71,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1d1c",endColorstr="#444745",GradientType=1);
  align-items: center;
  display:flex;
}


.window-footer {
  position: fixed;
  bottom: -45px;
  height: 40px;
  color:white;
  width: 100%;
  z-index: 999;
  align-items: center;
  border-top: solid 2px rgb(20, 20, 20);
  background: rgb(28,29,28);
  background: -moz-linear-gradient(0deg, rgba(28,29,28,1) 0%, rgba(68,71,69,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(28,29,28,1) 0%, rgba(68,71,69,1) 100%);
  background: linear-gradient(0deg, rgba(28,29,28,1) 0%, rgba(68,71,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1d1c",endColorstr="#444745",GradientType=1);
  align-items: center;
  display:flex;
}

.min-bar{
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid rgb(99, 99, 99);
  background-color: rgb(221, 221, 221);
  color: rgb(49, 49, 49);
  margin-left: 3px;
  min-width: 150px;
  text-align: center;
  height: 35px;
}

.min-bar-close{
  float: left;
  justify-content: center;
  text-align: middle;
}

.min-bar-title{
  text-align: right;
  padding-right: 5px
}

.showing{
  color:white;
  background-color: rgb(88, 88, 88);
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.nohighlight{
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.full-modal {
  padding: 0 !important; 
}
.full-modal  .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}

.full-modal .modal-header .close{
  color:white !important;
}
.full-modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
  color: white;
  background: #5a5a5a;
}
.full-modal .modal-body {
  overflow-y: auto;
}

.table-bordered{
  color: rgb(209, 209, 209) !important;
}

table {
  border-spacing: 30px;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px rgb(58, 58, 58); 
  background-color: #404346;
}

td {
  border: 1px solid #ccc;
}

tr {
  border: 1px solid rgb(44, 44, 44);
}
